* {
	margin: 0;
	padding: 0;
}

.wrapper{
	width: 921px;
	background-color: #fff;
	margin: 0 auto;
	padding: 17px 45px 0 45px;
	font-family: Arial;
}

.phone{
	color: #5e696d;
	font-size: 19px;
	float: left;
	margin-top: 8px;
	margin-left: 15px;
}

.phone img{
	float: left;
	margin-right: 3px;
}

.top_right{
	float: right;
	margin-top: 4px;
	/*margin-left: 2px;*/
}

.login img{
	float: left;
	margin: 4px 0 0 7px;
}
.login{
	width: 496px;
	height: 25px;
	border-radius: 3px;
	font-size: 12px;
	float: left;	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f6685+1,2989d8+100,207cca+100,0d3458+100&0.99+1,0.98+100 */
	background: -moz-linear-gradient(top,  rgba(31,102,133,0.99) 1%, rgba(13,52,88,0.98) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(31,102,133,0.99) 1%,rgba(13,52,88,0.98) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(31,102,133,0.99) 1%,rgba(13,52,88,0.98) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc1f6685', endColorstr='#fa0d3458',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 9px 10px 6px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 10px 6px -9px rgba(0,0,0,0.75);


}

.log_f{
	margin-left: -1px;	
	padding-top: 4px;
	padding-bottom: 3px;
	float: left;
}

.log_f input{
	width: 109px;
	height: 12px;
	margin-left: 6px;
}

.login a{
	color: #fff;
	text-decoration: none;
	font-family: Arial;
	font-size: 11px;
}


.log ul li{
	list-style: none;
	color: #fff;
	padding: 5px 0;	
	display: inline-block;
}

.log ul li:first-child{
	margin-left: 11px;
}
.log ul li span a{
	color: #919e77;
	text-decoration: underline;
	margin-left: 22px;
	font-size: 12px;	
}

/*header top navigaton*/

.top_nav{
	float: right;
	width: 61px;
	border-radius: 30px;
	border: 1px solid #c1c7ca;
	padding-left: 15px;
	margin-left: 17px;
	margin-right: 10px;
	-webkit-box-shadow: 10px 10px 8px -9px rgba(97,96,97,0.72);
-moz-box-shadow: 10px 10px 8px -9px rgba(97,96,97,0.72);
box-shadow: 10px 10px 8px -9px rgba(97,96,97,0.72);
}

.top_nav a {
	display: inline-block;	
	margin-left: -6px;
	padding-right: 10px;
	padding-bottom: 2px;
}


/*LOGO*/

.logo {
	width: 909px;
	clear: both;
	padding-top: 10px;
	margin-left: 8px;
	margin-bottom: 3px;
}

/*MENU*/

.menu {
	background-image: url(../img/menu.png);
	width: 812px;
	height: 28px;
	border-radius: 5px;	
	margin-left: 6px;
	padding-top: 5px;
	-webkit-box-shadow: 10px 10px 5px -8px rgba(107,103,107,1);
-moz-box-shadow: 10px 10px 5px -8px rgba(107,103,107,1);
box-shadow: 10px 10px 5px -8px rgba(107,103,107,1);
}

.menu a:first-child {
	margin-left: 39px;
	margin-right: 0;
}

.menu a:nth-child(3) {
	margin-right: 0px;
}

.menu a {
	display: inline-block;
	margin-right: 10px;
	color: #b1bcc0;
	font-family: Arial;
	text-decoration: none;
	padding: 3px 10px;
	font-size: 14px;
	
}
nav {
	padding-left: 100px;
}

.menu a:hover { 
	color: #fff;
	background-color: rgb(12, 51, 87);
	border-radius: 26px;
	background: -moz-linear-gradient(top,  rgba(31,102,133,0.99) 1%, rgba(13,52,88,0.98) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(31,102,133,0.99) 1%,rgba(13,52,88,0.98) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(31,102,133,0.99) 1%,rgba(13,52,88,0.98) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc1f6685', endColorstr='#fa0d3458',GradientType=0 ); /* IE6-9 */
	
}

.menu_left {
	float: left;
}

.purchase {
	float: right;
	/*margin-right: 28px;*/
	/*margin-top: px;*/
}

.purchase ul li:last-child{
	margin-right: 22px;
}

.purchase ul li{
	display: inline-block;
	margin-right: 10px;
	color: #6b7175;
	font-size: 11px;
	font-family: Arial;
}

.purchase ul li span {
	color: #0d5a8f;
}

.buscket {
	float: left;
}

.info_purch {
	float: right;
}
/*SEARCH*/

select {
	border-left: 2px solid #979797;
	border-top: 2px solid #979797;
	border-bottom: none;
	border-right: none;
	background: transparent;
	background: rgba(0,0,0,0);
	-webkit-appearance: none;
	outline: none;
}

.sect_1, .sect_2, .sect_3, .sect_4, .sect_5, .sect_6 {
	overflow: hidden;
	background: url(../img/arrow.png) right no-repeat;
}

.sect_1 {
	width: 100px;		
}

.sect_2 {
	width: 58px;
}

.sect_3 {
	width: 50px;
}

.sect_4 {
	width: 44px;
}

.sect_5  {
	width: 58px;
}

.sect_6 {
	width: 48px;
}

.sect_1 select {
	width: 130px;	
}

.sect_2 select {
	width: 78px;
}

.sect_3 select {
	width: 70px;
}

.sect_4 select {
	width: 64px;
}

.sect_5 select {
	width: 78px;
}

.sect_6 select {
	width: 68px;
}

.search {
	margin-top: 10px;
	margin-bottom: 20px;
	font-family: Arial;	
}


.search header  h3 {
	display: inline-block;
	color: #154467;
	font-weight: bold;
	margin-left: 70px;
}

.search header  h3:first-child {
	margin-left: 5px;
}	

.search_text{
	width: 70px;
	margin-top: 6px;
	float: left;
}

.search p {
	color: #000;
	line-height: 7px;
	font-size: 10px;
	margin-bottom: 10px;
}

.search_text p span, .disk p span {
	color: #77858b;
	font-size: 8px;
} 

.auto {
	width: 400px;
	height: 132px;
	border: 2px solid #cdcdcd;
	border-radius: 17px;
	float: left;
	margin-left: 12px;
	padding-left: 10px;
	position: relative;
	-webkit-box-shadow: 10px 10px 8px -9px rgba(97,96,97,0.72);
	-moz-box-shadow: 10px 10px 8px -9px rgba(97,96,97,0.72);
	box-shadow: 10px 10px 8px -9px rgba(97,96,97,0.72);
}

.auto footer, .tire footer, .disk footer {
	position: absolute;
	bottom: 5px;
	right: 24px;
}

.search footer{
	clear: both;	
		
}

.search footer a{	
	color: #154467;
	font-size: 14px;
	text-decoration: underline;
	font-style: italic;	
	font-family: Arial;	
}

.disk footer {
	bottom: 1px;
}

.disk footer a {
	font-family: Arial;
	font-size: 14px;
}	

.collumn_2, .collumn_4 {
	margin-top: 2px;
} 

.auto select {
	margin-bottom: 3px;
}

.wrap_sect_1{
	width: 320px;
	float: right;
}

.collumn_2 {
	float: left;
}

.collumn_3 {
	float: right;
	margin-left: 30px;
}

.collumn_4 {
	float: right;
	margin-right: 15px;
}

.wrap_1_1{
	float: left;
}


h3 {	
	font-size: 10px;	
}

h3 span {
	font-size: 14px;
}

.part{
	float: right;
}

.tire{
	width: 190px;
	height: 132px;
	border: 2px solid #cdcdcd;
	border-radius: 17px;	
	float: left;
	position: relative;
	-webkit-box-shadow: 10px 10px 8px -9px rgba(97,96,97,0.72);
	-moz-box-shadow: 10px 10px 8px -9px rgba(97,96,97,0.72);
	box-shadow: 10px 10px 8px -9px rgba(97,96,97,0.72);
}

/*tire search*/

.tire header {
	margin-left:2px;
}

.tire_wrap {
	
	font-family: 'Lucida Sans Unicode';
}

.tire p {
	line-height:  9px;
}

.tire_first_coll {
	width: 40px;
	margin-left: 10px;
	margin-top: 16px;
	float: left;
	text-align: left;
}

.tire_first_coll .right {
	text-align: right;
}

.tire_first_coll p {
	margin-bottom: 10px;
}

.tire_second_coll {
	width: 117px;
	float: right;	
	margin-right: 17px;
	margin-top: 6px;
}

.tire_second_coll select {
	margin-bottom: 5px;
}



.tire_check {
	margin-top: -3px;
	font-size: 12px;
	line-height: 4px;
}

.sect_3_left {
	
	float: left;
}

.sect_3_right {
	float: right;
	
}

.slash {
	position: absolute;
	left: 113px;
	top: 28px;
}

/*disk search*/

.disk{
	width: 265px;
	height: 132px;
	border: 2px solid #cdcdcd;
	border-radius: 17px;
	float: right;
	position: relative;
	font-family: 'Lucida Sans Unicode';
	margin: 0 11px 0 10px;
	-webkit-box-shadow: 10px 10px 8px -9px rgba(97,96,97,0.72);
	-moz-box-shadow: 10px 10px 8px -9px rgba(97,96,97,0.72);
	box-shadow: 10px 10px 8px -9px rgba(97,96,97,0.72);
}

.disk header {
	margin-left: -8px;
	margin-top: -2px;
}

.disk p {
	margin-bottom: 5px;
}

.disk_first_coll {
	float: left;	
	margin-left: 10px;
}

.disk_second_coll {
	margin-top: 4px;
	padding-left: 10px;
	margin-right: 20px;
	float: right;
	width: 60px;
	border-left: 1px solid #bdc6ca;
}

.disk_second_coll select {
	margin-bottom: 3px;	
}

.disk_second_coll p {
	margin-bottom: 0px;
	line-height: 8px;
}

.disk_text {
	float: left;
	width: 72px;
	margin-left: 5px;
	margin-top: 5px;
}

.disk_1_2 {
	float: right;
	margin-top: -4px;
}

.disk_1_2 select{
	margin-bottom: 7px;
	margin-right: 8px;
	margin-left: 15px;
	width: 68px;
}



/*CONTENT*/

.content {
	clear: both;
	padding-top: 15px;
	font-family: 'Lucida Sans Unicode';
}
/*SIDEBAR*/

.catalog {		
	padding-top: 3px;	
	color: #0c3256;	
	font-size: 13px;
	float: left;

}

.sidebar img {
	float: left;
	padding-left: 2px;
	padding-right: 2px;	
}

.sidebar {	
	border: 1px solid #cdcdcd;
	border-radius: 15px;
	padding-right:7px;
	padding-top: 3px;
	padding-bottom: 4px;
	-webkit-box-shadow: 10px 10px 8px -9px rgba(97,96,97,0.72);
-moz-box-shadow: 10px 10px 8px -9px rgba(97,96,97,0.72);
box-shadow: 10px 10px 8px -9px rgba(97,96,97,0.72);
}

.name img {
	float: left;
	padding: 0 2px;
}

.name {
	margin-top: 12px;
	margin-left: 8px;
	width: 141px;
	padding: 1px 3px 2px 1px;	
	border: 1px solid #cdcdcd;
	border-radius: 15px;
}

.name_text {
	margin-top: 3px;
}

.name_disk {
	margin-top: 0;
}

.list {	
	margin-left: 50px;
}

.list ul li {
	color: #0c3256;
	line-height: 25px;
	list-style-image: url(../img/mark_1.png);
}

.list ul li a {
	color: #0c3256;
	text-decoration: none;
	
}


.list ul li:hover {
	color: #0c3256;
	text-decoration: underline;
	font-weight: bold;
	font-style: italic;
	list-style-image: url(../img/mark_2.png);
}

/*main*/

.wrap_main {
	float: right;
}
main {
	width: 527px;
	height: 628px;
	border: 1px solid #e5e7e8;
	border-radius: 5px;	
	float: left;
	background: rgba(226,229,230,1);
	background: -moz-linear-gradient(top, rgba(226,229,230,1) 0%, rgba(147,167,176,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,229,230,1)), color-stop(100%, rgba(147,167,176,1)));
	background: -webkit-linear-gradient(top, rgba(226,229,230,1) 0%, rgba(147,167,176,1) 100%);
	background: -o-linear-gradient(top, rgba(226,229,230,1) 0%, rgba(147,167,176,1) 100%);
	background: -ms-linear-gradient(top, rgba(226,229,230,1) 0%, rgba(147,167,176,1) 100%);
	background: linear-gradient(to bottom, rgba(226,229,230,1) 0%, rgba(147,167,176,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e5e6', endColorstr='#93a7b0', GradientType=0 );
}

.box {
	width: 137px;
	height: 127px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #a4aeb1;
}

.box img {
	display: block;
	margin: 5px auto;
}

.tire_main{
	width: 137px;
	text-align: center;
}

.tire_main span{
	color: #206988;
	font-size: 14px;	
}

.tire_main p{
	font-size: 12px;
	line-height: 14px;
}

figcaption{
	font-size: 16px;
	color: #206988;
	font-weight: bold;
	font-style: italic;
	font-family: Arial;
}

.grn{
	font-size: 12px;
}

.first{
	margin-left: 22px;
	float: left;
}

.wrap_2{
	float: right;
}

.second{
	float: left;
	margin-right: 29px;
}

.third{
	float: right;
	margin-right: 30px;
}

.line{
	clear: both;
	padding-top: 15px;
	padding-bottom: 20px;
}


/*Sidebar brand*/
.brand {
	color: #0c3256;
	font-size: 14px;
	float: right;
	padding-left: 7px;
	margin-right: 9px;
}

.check{
	width: 180px;
}

.box_side {
	margin-left: 25px;
	line-height: 25px;
}
.box_side button{
	width: 82px;
	height: 28px;
	border-radius: 15px;
	margin-top: 15px;
	color: #fff;
	font-size: 12px;
	background: -moz-linear-gradient(top,  rgba(31,102,133,0.99) 1%, rgba(13,52,88,0.98) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(31,102,133,0.99) 1%,rgba(13,52,88,0.98) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(31,102,133,0.99) 1%,rgba(13,52,88,0.98) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc1f6685', endColorstr='#fa0d3458',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 10px 10px 8px -9px rgba(97,96,97,0.72);
	-moz-box-shadow: 10px 10px 8px -9px rgba(97,96,97,0.72);
	box-shadow: 10px 10px 8px -9px rgba(97,96,97,0.72);
}

button:active, button:focus{
	outline: none;
}

.brand .name{
	margin-left: 15px;
}

/*MAIN FOOTER*/

.main_footer{
	clear: both;
	width: 686px;	
	margin: 0 auto;	
	padding: 20px 0;
}

.main_footer img{
	display: inline-block;
	margin-right: 10px;	
}

.main_footer img:last-child{
	margin-right: 0;
}

/*FOOTER*/

.footer_bottom{
	background-color: #213a4d;
	font-family: Arial;
	padding: 15px 0 40px 0;
}

.foot_nav{
	/*margin: 10px auto;*/
	/*margin-bottom: 10px;*/
	margin: 0 auto;
	margin-bottom: 10px;
	width: 300px;
	
}

.foot_nav a{		
	display: inline-block;
	color: #bec6c9;
	font-size: 12px;
	text-decoration: none;
	padding-right: 10px;
	padding-top: 0;
	border-right: 1px solid #7f8e97;
}

.foot_nav a:last-child{
	border: none;
}

.foot_nav a:hover{
	color: #4fa3c3;
}

.p_foot{
	color: #794641;
	font-size: 10px;
	text-align: center;
}

